<h1>Lista: <%=@listd.nombre%> </h1><button class="btn">Editar</button>
<h3>Fecha de creacion: <%=@listd.created_at%></h3>
<h3>Fecha de modificacion: <%=@listd.updated_at%></h3>
<h2>Tareas:</h2>

<div class="col-xs-4">
  <div class="panel panel-default">
      <h3 class="text-center"> Simple Task</h3> 
      <div class="panel-body">
        <% @listd.simpletask.each do |task| %>
            <tr>
              <td><%= task.descripcion %></td>
            </tr>
        <% end %>
      </div>
      <div class="panel-footer text-center">
          <button class="btn">Crear Simple Task</button>
      </div>
  </div>
</div>
<div class="col-xs-4">
  <div class="panel panel-default">
  <h3 class="text-center">Long Task</h3> 
   <div class="panel-body">
        <% @listd.longtask.each do |task| %>
            <tr>
              <td><%= task.descripcion %></td>
            </tr>
        <% end %>
      </div>
      <div class="panel-footer text-center">
          <button class="btn">Crear Long Task</button>
      </div>
  </div>
</div>
<div class="col-xs-4">
  <div class="panel panel-default">
    <h3 class="text-center"> Temporal Task</h3> 
    <div class="panel-body">
          <% @listd.temporaltask.each do |task| %>
              <tr>
                <td><%= task.descripcion %></td>
              </tr>
          <% end %>
        </div>
        <div class="panel-footer text-center">
            <button class="btn">Crear Temporal Task</button>
        </div>
  </div>
</div>
